<!DOCTYPE html>
<html>
<head>
  <title>AdBoard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless controller_name == "home" %>
    <div class="logo">
      <a href="/">Main Page</a>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
